DoNotStarveTogether/cluster_token.txt
DoNotStarveTogether/Cluster_1/cluster_token.txt
DoNotStarveTogether/Cluster_1/adminlist.txt
DoNotStarveTogether/Cluster_1/Master/server_log.txt
DoNotStarveTogether/Cluster_1/Master/server_chat_log.txt
DoNotStarveTogether/Cluster_1/Master/backup
DoNotStarveTogether/Cluster_1/Master/save
